body {
  background-color: #dadbd556;
}

.App {
  text-align: center;
}

.container {
  max-width: 850px;
}

footer {
  margin-top: 10px;
  margin-bottom: 20px;
}
footer a {
  color: #402414;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 900px) {
  footer {
    font-size: 13px;
  }
}
