.phonetic {
  display: flex;
}
.phonetic h3 {
  font-size: 20px;
  margin-top: 8px;
}

.phonetic .icon {
  font-size: 27px;
  margin-right: 10px;
  transition: all 0.2s ease-out;
  color: #8c6e54;
}
.icon:hover {
  opacity: 0.4;
}
